.tech-node {
    position: relative;
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1em;
    padding: 0.5em 1em;
    box-sizing: border-box;

    background: #2f3f47;
    border-radius: 0.25em;
    border: 2px solid #2f3f47;

    &.premium {
        background: #47432f;
        border-color: #47432f;
    }

    img {
        object-fit: contain;
        filter: drop-shadow(0 0 0.75em rgba(white, 0.1));
    }

    &:hover {
        border-color: white;
        cursor: pointer;
    }
}

.details {
    display: grid;
    grid-template: 1fr 1fr / minmax(0, 1fr) 1fr 1fr;
    grid-gap: 1em;
    width: 100%;

    font-size: 14px;

    .label {
        grid-column: span 3;

        text-transform: capitalize;
        font-size: 16px;
        font-weight: bold;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .battle-rating,
    .research,
    .cost,
    .premium-cost {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 0.35em;
        line-height: 1em;

        &::after {
            content: "";

            display: block;
            height: 1em;
            width: 1em;

            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .battle-rating::before {
        content: "BR:";

        font-weight: bold;
        margin-right: 0.25em;
    }
    .research::after {
        background-image: url("/research-points.png");
    }
    .cost::after {
        background-image: url("/silver-lion.png");
    }
    .premium-cost::after {
        background-image: url("/golden-eagle.png");
    }
}
