* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;

    text-decoration: none;
    color: white;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
