.home {
    display: flex;
    padding: 2em;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
}

.countries {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;

    a {
        text-transform: capitalize;
    }
}
